<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>

    {{ if .IsHomes }}
      <link rel="icon" type="image/png" href="/static/images/homes-favicon/favicon-48x48.png" sizes="48x48" />
      <link rel="icon" type="image/svg+xml" href="/static/images/homes-favicon/favicon.svg" />
      <link rel="shortcut icon" href="/static/images/homes-favicon/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/static/images/homes-favicon/apple-touch-icon.png" />
      <link rel="manifest" href="/static/images/homes-favicon/site.webmanifest" />
    {{ else if .IsMedia }}
      <link rel="icon" type="image/png" href="/static/images/media-favicon/favicon-48x48.png" sizes="48x48" />
      <link rel="icon" type="image/svg+xml" href="/static/images/media-favicon/favicon.svg" />
      <link rel="shortcut icon" href="/static/images/media-favicon/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/static/images/media-favicon/apple-touch-icon.png" />
      <link rel="manifest" href="/static/images/media-favicon/site.webmanifest" />
    {{ end }}

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>

    <!-- MD Editor -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

    <link rel="stylesheet" href="/static/styles/font.css" />
    <link rel="stylesheet" href="/static/styles/layout.css" />
    <link rel="stylesheet" href="/static/styles/homes.css" />
    <link rel="stylesheet" href="/static/styles/media.css" />
  </head>

  <body class="{{.Page}}">
    <main class="main">
      {{.Content}}
    </main>

    <footer class="footer">
      <span>&copy; {{.Year}}
        Haier
        {{ if .IsHomes }}
          Homes
        {{ end }}
        LLC
      </span>
      <span>|</span>
      <a target="_blank" class="tech" href="https://derekgarnett.com">Tech Solutions</a>
    </footer>
  </body>
</html>
