<h1 class="text-3xl uppercase text-gray-100 font-semibold mb-6">
  Haier the Creator
</h1>

<img class="max-w-xs" src="/static/images/Badge/HaierBadge_v2.png" />

<div class="max-w-md w-full bg-gray-800 p-8 shadow-md rounded-md">
  <div class="grid gap-4">
    <!-- Each link item -->

    <a
      href="/homes"
      class="group flex items-center p-4 bg-yellow-800 hover:bg-yellow-700 rounded-md transition"
    >
      <div class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6 text-gray-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19l-7-7 7-7m8 14l-7-7 7-7"
          ></path>
        </svg>
      </div>
      <span class="text-gray-100">Homes</span>
    </a>

    <a
      href="/homes"
      class="group flex items-center p-4 bg-yellow-800 hover:bg-yellow-700 rounded-md transition"
    >
      <div class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6 text-gray-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19l-7-7 7-7m8 14l-7-7 7-7"
          ></path>
        </svg>
      </div>
      <span class="text-gray-100">Homes</span>
    </a>

    <a
      href="/homes"
      class="group flex items-center p-4 bg-yellow-800 hover:bg-yellow-700 rounded-md transition"
    >
      <div class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6 text-gray-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19l-7-7 7-7m8 14l-7-7 7-7"
          ></path>
        </svg>
      </div>
      <span class="text-gray-100">Homes</span>
    </a>

    <a
      href="/homes"
      class="group flex items-center p-4 bg-yellow-800 hover:bg-yellow-700 rounded-md transition"
    >
      <div class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6 text-gray-100"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19l-7-7 7-7m8 14l-7-7 7-7"
          ></path>
        </svg>
      </div>
      <span class="text-gray-100">Homes</span>
    </a>
  </div>
</div>
