#homes-page {
	max-width: 30rem;
	margin: 0 auto;
	padding: 2rem 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 2rem;

	.image {
		height: 10rem;
		width: 10rem;
		border-radius: 999rem;
	}

	.title {
		margin: 0 auto;
	}

	.subtitle {
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 500;
	}

	.icon-links {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: .5rem;
	}

	.icon-link {
		transition: .2s;

		svg {
			width: 2rem;
			height: 2rem;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	.bar-links {
		display: grid;
		grid-gap: .5rem;
		width: 100%;
	}

	.bar-link {
		transition: .2s;
		background-color: black;
		padding: 1.5rem;
		font-size: 1.2rem;
		text-decoration: none;
		color: var(--light-gray);
		border-radius: .2rem;

		&:hover {
			transform: scale(1.05);
		}
	}
}
